<h1 class="editing">Editing Book</h1>
<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>

  <div class="label">Title</div>
  <%= f.text_field :title, class: "input" %>
  <div class="label">Body</div>
  <%= f.text_area :body, class: "input" %>
  <div><%= f.submit ' Update Book ', class: "input" %></div>
  <%= link_to "Show", book_path(@book.id), class: "link" %>
  <span>|</span>
  <%= link_to "Back", '/books/index', class: "link" %>

<% end %>