<h1>Books</h1>
  <p>タイトル</p>
<div><% @books.each do |book| %>
  <span><%= book.title %></span>
  <span><%= book.body %></span>
  <%= link_to "Show", book_path(book.id), class: "link" %>
  <%= link_to "Edit", edit_book_path(book.id), class: "link" %>
  <%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?", class: "link" %>
</div>

<% end %>

<h2>New book</h2>

<%= form_with model: @book, url:'/books', local:true do |f| %>
  <div class="label">Title</div>
  <%= f.text_field :title, class: "input" %>
  <div class="label">Body</div>
  <%= f.text_area :body, class: "input" %>
  <div><%= f.submit 'Create Book' %></div>
<% end %>